# =========================
# BUILD
# =========================
bin/
obj/
out/

# =========================
# USER FILES
# =========================
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# VISUAL STUDIO
# =========================
.vs/
*.VC.db
*.VC.opendb

# =========================
# RIDER
# =========================
.idea/
*.sln.iml

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log

# =========================
# NODE (если вдруг будет)
# =========================
node_modules/

# =========================
# LOCAL CONFIG (важно)
# =========================
appsettings.Development.json

# =========================
# SECRETS
# =========================
secrets.json

# =========================
# ENTITY FRAMEWORK
# =========================
Migrations/

# (если хочешь сохранять миграции — закомментируй строку выше)

# =========================
# PUBLISH
# =========================
publish/
wwwroot/dist/

# =========================
# CACHE
# =========================
*.cache
*.tmp

# =========================
# BLAZOR WASM
# =========================
wwwroot/_framework/